.bg{
    background-color: #333333;
    color: white;
}
.custom {
    
    background-color: rgba(26,26,26,0.8); 
    border-radius: 5px;
    border: none;
    
    
}
.scroll{
    position:relative;
    max-height: 90%;
    overflow-y:scroll;
}
.custom-scroll{
    background-color: rgba(26,26,26,0.8); 
    border-radius: 5px;
    border: none;
    padding-bottom: 10px;
}
.scroll::-webkit-scrollbar {
    width: 12px;
}
.scroll::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(26,26,26,1);
}
.scroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #FF5014;
    
}
.custom-panel {
    background-color: rgba(26,26,26,0.8); 
    border-radius: 5px;
    border: none;
    position: relative;
    height: 90%;
    width: 95%;
}
.custom-panel-responsive {
    height: 95%;
    width: 95%;
}
.nav.navbar-nav li#blue a {
    color: #0159BB;
}
.responsive{
    position:relative;
    height: 95%;
}
.responsive-2{
    /*position: fixed;*/
    height: 85%;
}
.navbar-default .navbar-nav li#blue> .active{
   color: white;
   background: #0159BB;
 }
.navbar-default .navbar-nav li#blue> .active > a, 
.navbar-default .navbar-nav li#blue> .active > a:hover, 
.navbar-default .navbar-nav li#blue> .active > a:focus {
      color: white;
      background: #0159BB;
 }
.navbar-default .navbar-nav > li#blue > a:hover, .navbar-default .navbar-nav > li#blue > a:focus {
    background-color: #0159BB;
    color: white;
}
.nav.navbar-nav #purple a {
    color: #913387;}
.navbar-default .navbar-nav #purple> .active{
   color: white;
   background: #913387;
 }
.navbar-default .navbar-nav #purple> .active > a, 
.navbar-default .navbar-nav #purple> .active > a:hover, 
.navbar-default .navbar-nav #purple> .active > a:focus {
      color: white;
      background: #913387;
 }
.navbar-default .navbar-nav > #purple > a:hover, .navbar-default .navbar-nav  > #purple > a:focus {
    background-color: #913387;
    color: white;
}
.nav.navbar-nav li#orange a {
    color: #FF5014;}
.navbar-default .navbar-nav li#orange> .active{
   color: white;
   background: #FF5014;
 }
.navbar-default .navbar-nav li#orange> .active > a, 
.navbar-default .navbar-nav li#orange> .active > a:hover, 
.navbar-default .navbar-nav li#orange> .active > a:focus {
      color: white;
      background: #FF5014;
 }
.navbar-default .navbar-nav > li#orange > a:hover, .navbar-default .navbar-nav  > li#orange > a:focus {
    background-color: #FF5014;
    color: white;
}
.nav.navbar-nav li#yellow a {
    color: #FEC900;}
.navbar-default .navbar-nav li#yellow> .active{
   color: white;
   background: #FEC900;
 }
.navbar-default .navbar-nav li#yellow> .active > a, 
.navbar-default .navbar-nav li#yellow> .active > a:hover, 
.navbar-default .navbar-nav li#yellow> .active > a:focus {
    color: white;
    background: #FEC900;
}
.navbar-default .navbar-nav > li#yellow > a:hover, .navbar-default .navbar-nav  > li#yellow > a:focus {
    background-color: #FEC900;
    color: white;
}
.nav.navbar-nav li#green a {
    color: #2FB133;}
.navbar-default .navbar-nav li#green> .active{
   color: white;
   background: #2FB133;
 }
.navbar-default .navbar-nav li#green> .active > a, 
.navbar-default .navbar-nav li#green> .active > a:hover, 
.navbar-default .navbar-nav li#green> .active > a:focus {
      color: white;
      background: #2FB133;
 }
.navbar-default .navbar-nav > li#green > a:hover, .navbar-default .navbar-nav  > li#green  > a:focus {
    background-color: #2FB133;
    color: white;
}
.nav.navbar-nav li#pink #pinka {
    color: #D10068;}
.navbar-default .navbar-nav li#pink> .active{
   color: white;
   background: #D10068;
 }
.navbar-default .navbar-nav li#pink> .active > #pinka, 
.navbar-default .navbar-nav li#pink> .active > #pinka:hover, 
.navbar-default .navbar-nav li#pink> .active > #pinka:focus {
      color: white;
      background: #D10068;
 }
.navbar-default .navbar-nav > li#pink > #pinka:hover, .navbar-default .navbar-nav  > li#pink  > #pinka:focus {
    background-color: #D10068;
    color: white;
}
.tabs-panel{
    background-color:#0159BB;
    border-radius:5px;
    color: white;
}
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: white;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
	color: #fff;
	background-color: #014898;
	border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
	color: white;
	background-color: #014898;
	border-color: transparent;
	border-bottom-color: transparent;
}
.tabs-panel-chart{
    background-color:#2FB133;
    border-radius:5px;
    color: white;
}
.with-nav-tabs-chart.panel-primary-chart .nav-tabs > li > a,
.with-nav-tabs-chart.panel-primary-chart .nav-tabs > li > a:hover,
.with-nav-tabs-chart.panel-primary-chart .nav-tabs > li > a:focus {
    color: white;
}
.with-nav-tabs-chart.panel-primary-chart .nav-tabs > .open > a,
.with-nav-tabs-chart.panel-primary-chart .nav-tabs > .open > a:hover,
.with-nav-tabs-chart.panel-primary-chart .nav-tabs > .open > a:focus,
.with-nav-tabs-chart.panel-primary-chart .nav-tabs > li > a:hover,
.with-nav-tabs-chart.panel-primary-chart .nav-tabs > li > a:focus {
	color: #fff;
	background-color: #258d29;
	border-color: transparent;
}
.with-nav-tabs-chart.panel-primary-chart .nav-tabs > li.active > a,
.with-nav-tabs-chart.panel-primary-chart .nav-tabs > li.active > a:hover,
.with-nav-tabs-chart.panel-primary-chart .nav-tabs > li.active > a:focus {
	color: white;
	background-color: #258d29;
	border-color: transparent;
	border-bottom-color: transparent;
}
/*#region Organizational Chart*/
.tree * {
    margin: 0; padding: 0;
    
    
}
.tree ul {
    padding-top: 10px; position: relative;

    -transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.tree li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 10px 5px 0 5px;
    vertical-align: middle;
    -transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
/*We will use ::before and ::after to draw the connectors*/
.tree li::before, .tree li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 2px solid #712869;
    width: 50%; height: 10px;
}
.tree li::after{
    right: auto; left: 50%;
    border-left: 10% solid #712869;
}
/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}
/*Remove space from the top of single children*/
.tree li:only-child{ 
    padding-top: 0;
}
/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
    border-right: 2px solid #712869;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}
/*Time to add downward connectors from parents*/
.tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 2px solid #712869;
    width: 0; height: 10px;
}
.tree li a{
    height: 70px;
    width: 80px;
    padding: 5px 5px;
    text-decoration: none;
    background-color: #913387;
    color: white;
    border-radius: 5px;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display:inline-block;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);

    -transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
    background: #D10068; color: white;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
    border-color:  #b30059;
}
.modal {
    padding-top: 100px;
    background-color: rgba(26,26,26,.8);
}
.modal-sm{
    background-color: rgba(26,26,26,.8);
    
}
.vcenter {
    padding-top: 25%;
    height: 80%;
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.dark-orange{
    background-color: #cc3400;
    border-radius: 5px;
    height: 90%;
}
.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
    text-align: left;
}
.table .table-hover tr, td:hover {
    background-color: #802000;
    border-radius: 5px;
    cursor: pointer;
}
#pink-table tr>td:hover{
    background-color: transparent; 
}
#pink-table tr>td{
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px;
    border-bottom-color: white;
}
#pink-table tr{
    border: 1px;
    border-color: white;
}
#pink-table{
    background-color: transparent;
    width:100%;
    max-width:100%;
}
.inner-table tr>td{
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    background-color:  rgba(26,26,26,0.8); 
}
.inner-table tr>td:hover{
    background-color: #802000; 
    border-radius: 5px;
    cursor: pointer;
   
}
.inner-table{
    background-color: #802000;
    border-radius: 5px;
    cursor: pointer;
    width:100%;
    max-width:100%;
}
.collapse{
    padding-top: 5px; 
}
#toggle-province{
    color: white;
    text-decoration: none;
    
}
#toggle-province:hover {
    color: white;
    text-decoration: none;
    
}
.badge{
    background-color:white;
    color: #FF5014 ;
    float: right;
}
.badge-pink{
    background-color:#D10068;
    color: white ;
    float: right;
}
.fa-angle-down{
    float:right;
    padding-left: 5px;
}
.fa-info-circle{
    color: white ;
    float: right;
}
.fa-angle-right{
    color: white ;
    float: right;
}
.fa-user{
    float: left;
    padding-right: 5px;
}
#map-marker{
    float: left;
    padding-right: 5px;
}
#map-phone{
    float: left;
    padding-right: 5px;
}
.modal-align{
    text-align: left;
}
.vcenter-2{
    padding-top: 15%;
    display: inline-block;
    vertical-align: middle;
    float: middle;
}
.custom-panel-primary{
    padding-top: 20%;
}
.active-pane{
    background-color: black;
}
.purple{
    color: #913387 ;
}
.tabs-panel-papers{
    background-color:#913387;
    border-radius:5px;
    color: white;
}
.with-nav-tabs-papers.panel-primary-papers .nav-tabs > li > a,
.with-nav-tabs-papers.panel-primary-papers .nav-tabs > li > a:hover,
.with-nav-tabs-papers.panel-primary-papers .nav-tabs > li > a:focus {
    color: white;
}
.with-nav-tabs-papers.panel-primary-papers .nav-tabs > .open > a,
.with-nav-tabs-papers.panel-primary-papers .nav-tabs > .open > a:hover,
.with-nav-tabs-papers.panel-primary-papers .nav-tabs > .open > a:focus,
.with-nav-tabs-papers.panel-primary-papers .nav-tabs > li > a:hover,
.with-nav-tabs-papers.panel-primary-papers .nav-tabs > li > a:focus {
	color: #fff;
	background-color: #5e2158;
	border-color: transparent;
}
.with-nav-tabs-papers.panel-primary-papers .nav-tabs > li.active > a,
.with-nav-tabs-papers.panel-primary-papers .nav-tabs > li.active > a:hover,
.with-nav-tabs-papers.panel-primary-papers .nav-tabs > li.active > a:focus {
	color: white;
	background-color: #5e2158;
	border-color: transparent;
	border-bottom-color: transparent;
}
.well{
    background-color: rgba(26,26,26,0.8);
    text-align: left;
}
.with-nav-pills.nav.nav-pills.nav-stacked{
    padding-bottom: 5%;
}
.with-nav-pills.nav.nav-pills.nav-stacked > li > a{
    background-color: #913387;
    border-radius: 5px;
    color: white;
}
.with-nav-pills.nav.nav-pills.nav-stacked > li.active > a,
.with-nav-pills.nav.nav-pills.nav-stacked > li.active > a:hover,
.with-nav-pills.nav.nav-pills.nav-stacked > li.active > a:focus{
    background-color: #5e2158;    
    border-radius: 5px;
}
.with-nav-pills.nav.nav-pills.nav-stacked > .open > a,
.with-nav-pills.nav.nav-pills.nav-stacked > .open > a:hover,
.with-nav-pills.nav.nav-pills.nav-stacked > .open > a:focus,
.with-nav-pills.nav.nav-pills.nav-stacked > li > a:hover,
.with-nav-pills.nav.nav-pills.nav-stacked > li > a:focus {
	color: #fff;
	background-color: #5e2158;
	border-color: transparent;
}
.pink{
    background-color: #D10068;
    color: white;
}
.pink:hover{
    background-color: white;
    color: #D10068;
}
.green{
    background-color: #2FB133;
    color: white;
}
.green:hover{
    color: #2FB133;
    background-color: white;
}
.orange{
    background-color: #FF5014;
    color: white;
}
.orange:hover{
    color: #FF5014;
    background-color: white;
}
.purple-text{
    background-color: white;
    border-radius:5px;
    color:#913387;
}
.blue-text{
    background-color: white;
    border-radius:5px;
    color:#0159BB;
}
.green-text{
    background-color: white;
    border-radius:5px;
    color:#2FB133;
}
.yellow-text{
    background-color: white;
    border-radius:5px;
    color:#FEC900;
}
.orange-text{
    background-color: white;
    border-radius:5px;
    color:#FF5014;
}
.pink-text{
    background-color: white;
    border-radius:5px;
    color:#D10068;
}
.purple-text-2{
    background-color: #913387;
    border-radius:5px;
    color:white;
}
.scroll-pink{
    position:absolute;
    max-height:95%;
    width: 100%;
    overflow-y:scroll;
}
.custom-scroll-pink{
    background-color: rgba(26,26,26,0.8); 
    border-radius: 5px;
    border: none;
}
.scroll-pink::-webkit-scrollbar {
    width: 12px;
}
.scroll-pink::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(26,26,26,1);
}
.scroll-pink::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #D10068;
}
.top{
    padding-top: 17%;
    padding-bottom: 5%;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}
.try{
     display: inline-block;
    float: none;
    text-align: center;

}
.btn-pink{
    background-color: #913387;
    color: white;
}
.btn-pink:hover{
    color: white;
}
.centered{
    text-align: center;
}
/* Smartphone Portrait and Landscape */
@media only screen and (min-device-width : 0px) and (max-device-width :  720px){  
    .mobileHide {
        display: none;
    }
}