/*!
 * Start Bootstrap - Scrolling Nav HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    width: 100%;
    height: 100%;
}
html {
    width: 100%;
    height: 100%;
}
@media only screen and (min-device-width : 0px) and (max-device-width :  720px){
    .navbar {
        height: 10px;
        padding: 0px 0;
        /*-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;*/
    }

    .top-nav-collapse {
        padding: 0;
    }
}
.intro-section {
    height: 130%;
    padding-top: 70px;
    text-align: center;
    background: white;
    background-color: white;
    
    
}
.intro-section-prog {
    height: 100%;
    padding-top: 70px;
    text-align: center;
    background: white;
    background-color: white;
    
    background-image: url('../img/objetivo.jpg') ;
    background-size:100%;
    
}
.intro-section-blue {
    height: 100%;
    padding-top: 70px;
    text-align: center;
    background-color: white;
    
    /*background-image: url('../img/back.png');*/
}
.intro-section-pink {
    height: 150%;
    padding-top: 70px;
    text-align: center;
    
    background-image: url('../img/t-bg.jpg') ;
    background-size:100%;
}
.intro-section-purple {
    height: 100%;
    padding-top: 70px;
    text-align: center;
    /*background-color: white;*/
    
    background-image: url('../img/s-bg.jpg');
    background-size:100%;
}
.intro-section-green {
    height: 100%;
    padding-top: 70px;
    text-align: center;
    background-color: white;
    /*background-image: url('../img/back.png');*/
}
.intro-section-orange{
    height: 100%;
    padding-top: 70px;
    text-align: center;
    background-color: white;
    /*background-image: url('../img/back.png');*/
}
.intro-section-yellow{
    height: 100%;
    padding-top: 70px;
    text-align: center;
    /*background-color: white;*/
    background-image: url('../img/l-bg.jpg');
    background-size:100%;
}
.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}
.services-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}
.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}